#myParagraph {
background-color: pink;
text-transform: uppercase;
margin: 50px;
position: relative;}


b{
  padding-right: 50px;
}

body {background-color: paleturquoise;}

span{
  color:blue;

}

td:hover, th:hover {
  background-color: pink;
}

img{
  height: 250px;
  width: 200px;
}
a{float: left;
}

table{
  font-family: sans-serif;
  width: 100%; height: 100%;
}

table, th, td {
  border: 1px solid white;
}

.blueEm {
  color:blue
}

th,td {
  text-align: left;
}

.header {

  text-align: center;
  color: purple;
  font: 1000px;
  height: 70px;
}

#nav a {
  color: inherit;
  background-color :black;
  overflow: hidden;
  color: white;
  text-decoration: none;
  padding-left: 140px;
  padding-right: 140px;
}
#nav a: hover {
  background-color: pink;
}
#nav a: active {
  background-color: green
}
